<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/main-menu}"></div>
<p>
    <img alt="" th:src="${product.getImgUri()}" width="100"/>
</p>
<h1>
    Details of
    <span th:text="${product.getName()}"></span>
</h1>
<p>
    Description:
    <span th:text="${product.getDesc()}"></span>
</p>
<p>
    Price:
    <span th:text="${product.getPrice()}"></span> PLN
</p>
<p th:if="${product.getCategory() != null}">
    Category:
    <a th:href="${'/categoryDetails/' + product.getCategory().getId()}"
       th:text="${product.getCategory().getName()}"></a>
</p>
</body>
</html>
