<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div th:replace="~{fragments/main-menu}"></div>
<p>Products:</p>
<ul>
    <li th:each="product : ${db}">
        <a th:href="'/productDetails/' + ${product.getId()}" th:text="${product.getName()}"></a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="'/removeProduct/' + ${product.getId()}">[remove]</a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="'/editProduct/' + ${product.getId()}">[edit]</a>
    </li>
</ul>
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
    <div th:replace="~{fragments/save-product}"></div>
</div>
</body>
</html>
