<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{fragments/main-menu}"></div>
<h1 th:text="${user != null && user.getUserId() != null ? 'Edit user' : 'Add user'}"></h1>

<p th:text="${errorMessage}"></p>

<form method="post"
      th:action="${ user != null && user.getUserId() != null ? '/user/update/' + user.getUserId() : '/user/save' }">
    <label>
        FirstName
        <input name="firstName" th:value="${ user != null ? user.getFirstName() : '' }"/>
    </label>
    <br/>
    <label>
        LastName
        <input name="lastName" th:value="${ user != null ? user.getLastName() : '' }"/>
    </label>
    <br/>
    <label>
        Email
        <input name="email" th:value="${ user != null ? user.getEmail() : '' }" type="email"/>
    </label>
    <br/>
    <label>
        PersonalNumber
        <input name="personalNumber" th:value="${ user != null ? user.getDetails().getPersonalNumber() : '' }"
               type="number"/>
    </label>
    <label>
        TaxNumber
        <input name="taxNumber" th:value="${ user != null ? user.getDetails().getTaxNumber() : '' }" type="number"/>
    </label>
    <br/>
    <div th:if="${user == null}">
        <label>
            prefix
            <input name="prefix[0]"/>
        </label>
        <label>
            number
            <input name="number[0]" type="number"/>
        </label>
        <br/>
        <label>
            prefix
            <input name="prefix[1]"/>
        </label>
        <label>
            number
            <input name="number[1]" type="number"/>
        </label>
    </div>
    <div th:if="${user != null && user.getPhoneNumber() != null}">
        <div th:each="phoneNumber : ${user.getPhoneNumber()}">
            <label>
                prefix
                <input name="prefix" th:value="${phoneNumber.getPrefix()}"/>
            </label>
            <label>
                number
                <input name="number" th:value="${phoneNumber.getNumber()}" type="number"/>
            </label>
        </div>
    </div>
    <br/>
    <label>
        Addresses:
        <select name="address">
            <option th:each="address : ${addresses}"
                    th:selected="${user != null && user.getAddress() != null && user.getAddress().size() > 0  && address.getAddressId() == user.getAddress().get(0).getAddressId()}"
                    th:text="${address.getCity() + ', ' + address.getStreet()}"
                    th:value="${address.getAddressId()}"></option>
        </select>
    </label>
    <br/>
    <button>save</button>
</form>
<hr/>
<form method="post" th:action="'/user/address/add'">
    <label>
        city
        <input name="city"/>
    </label>
    <label>
        street
        <input name="street"/>
    </label>
    <br/>
    <button>save</button>
</form>

</body>
</html>
