<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div th:replace="~{fragments/main-menu}"></div>
<h1>All users</h1>

<div sec:authorize="hasRole('ROLE_ADMIN')">
    <a href="/user/add">[add new user]</a>
    <hr/>
</div>

<div th:each="user : ${users}">
    <div>
        Id: <span th:text="${user.getUserId()}"></span>
    </div>
    <div>
        FirstName:<span th:text="${user.getFirstName()}"></span>
    </div>
    <div>
        LastName: <span th:text="${user.getLastName()}"></span>
    </div>
    <a th:href="${ '/user/id/' + user.getUserId() }">[show more]</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${ '/user/remove/' + user.getUserId() }">[remove]</a>
    <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="${ '/user/edit/' + user.getUserId() }">[edit]</a>
    <hr/>
</div>

</body>
</html>
