<div xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <a href="/">Home</a>
    <a href="/categories">Categories</a>
    <a href="/aboutUs">About Us</a>
    <a href="/contact">Contact</a>
    <a href="/user/all" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">Users</a>
    <a href="/user/register" sec:authorize="isAnonymous()">Register</a>
    <a href="/login" sec:authorize="isAnonymous()">Login</a>
    <a href="/logout" sec:authorize="isAuthenticated()">Logout</a>
    <hr/>
</div>
