<hr/>

<ul>
    <li th:each="error : ${errors}" th:text="${error}"></li>
</ul>

<form method="post" th:action="${actionUri}">
    <input name="name" placeholder="Product name"
           th:value="${ product != null ? product.getName() : '' }"/>
    <input name="price" placeholder="Product price"
           th:value="${ product != null ? product.getPrice() : '' }" type="number"/>
    <input name="imgUri" placeholder="Product img"
           th:value="${ product != null ? product.getImgUri() : '' }"/>
    <textarea name="desc" placeholder="Product desc" rows="5"
              th:text="${ product != null ? product.getDesc() : '' }"></textarea>
    <select name="category">
        <option th:each="category : ${categories}"
                th:selected="${product != null && product.getCategory() != null && category.getId() == product.getCategory().getId()}"
                th:text="${category.getName()}"
                th:value="${category.getId()}"></option>
    </select>
    <button>Save</button>
</form>
