<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:replace="~{fragments/main-menu}"></div>

<h1 th:text="${category.getName()}"></h1>
<p th:text="${category.getId()}"></p>
<p th:text="${category.getDesc()}"></p>
<p>
    <img alt="" th:src="${category.getImgUri()}" width="100"/>
</p>

<hr/>
<h3>Products:</h3>
<ul>
    <li th:each="product : ${products}">
        <a th:href="${'/productDetails/' + product.getId()}" th:text="${product.getName()}"></a>
    </li>
</ul>

</body>
</html>
