<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/main-menu}"></div>
<p>Categories:</p>
<ul>
    <li th:each="category : ${db}">
        <a th:href="'/categoryDetails/' + ${category.getId()}" th:text="${category.getName()}"></a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="'/removeCategory/' + ${category.getId()}">[remove]</a>
        <a sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')" th:href="'/editCategory/' + ${category.getId()}">[edit]</a>
    </li>
</ul>
<div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
    <div th:replace="~{fragments/save-category}"></div>
</div>
</body>
</html>
